[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MultiNMix"]
	path = MultiNMix
	url = https://github.com/niamhmimnagh/multinmix
[submodule "SnowData"]
	path = SnowData
	url = https://github.com/cran/SnowData
